ly-list-item {
  padding: 0;
  margin-top: 0;
}
ly-list-item span {
  display: flex;
  justify-content: space-between;
}
.listed {
  display: flex;
  justify-content: space-between;
}
.lytitle {
  color: black;
  font-size: 22px !important;
  font-weight: bold;
}
.lyDetails {
  color: black;
  font-size: 22px !important;
  font-weight: 300;
}
.details {
  padding-left: 20px;
  margin-left: 100px;
}
h5 {
  font-family: "Muli", sans-serif;
  font-size: 14px;
}
.content-wrapper {
  margin-top: 15px;
}
.flagbtn {
  margin-top: 40px;
}

.checkbox {
  margin-left: 18px;
  padding-top:15px;
}
