.push {
  padding-left: 25px;
}
.summary {
  color: blueviolet;
  display: flex;
  justify-content: space-between;
}
.tit {
  display: flex;
  justify-content: space-between;
}
.time {
  font-size: 9px;
}
.Orders {
  margin-top: 100px !important;
}
