<div class="w3-container">
  <div class="pendingOrders">
    <ejs-grid
      #grid
      [dataSource]="listOfData"
      [allowPaging]="true"
      [allowSorting]="true"
      [searchSettings]="searchOptions"
      [toolbar]="toolbar"
      [pageSettings]="pageSettings"
      (recordClick)="OnEdit($event)"
    >
      <e-columns>
        <e-column
          field="ID"
          headerText="Id"
          width="100"
          [customAttributes]="customAttributes"
        ></e-column>
        <e-column
          field="OrderNumber"
          headerText="Order Number"
          width="120"
          [customAttributes]="customAttributes"
        ></e-column>
        <e-column
          field="ClientName"
          headerText="Client Name"
          width="200"
          [customAttributes]="customAttributes"
        ></e-column>
        <e-column
          field="OrderDate"
          [format]="format"
          headerText="Order Date"
          width="150"
          type="date"
          [customAttributes]="customAttributes"
        ></e-column>
        <e-column
          field="Title"
          headerText="Title"
          width="200"
          [customAttributes]="customAttributes"
        ></e-column>
        <e-column
          field="Urgency"
          headerText="Urgency"
          width="150"
          [customAttributes]="customAttributes"
        ></e-column>
        <e-column
          field="Status"
          headerText="Status"
          width="200"
          [customAttributes]="customAttributes"
        ></e-column>
        <e-column
          field="isPaid"
          headerText="IsPaid"
          width="100"
          textAlign="Right"
          [customAttributes]="customAttributes"
        ></e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>
