.login-form {
  width: 25rem;
  margin: 100px;
  margin-top: 150px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
img {
  margin-top: 100px;
  margin-left: 10px;
  width: 650px;
  height: 450px;
  border-radius: 20px;
}

.wrap {
  width: 100%;
}
.writerCont {
  padding-right: 60px;
  padding-left: 60px;
  display: inline-flex;
  justify-content: space-evenly;
}
